<!doctype html>
<html lang="en" ng-app="mookApp">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Mook</title>

    <script src="js/util.js"></script>
    <script type="text/javascript">
        verifyLogin();
    </script>

    <link rel="stylesheet" href="css/mook.css">
    <script src="lib/angular-1.2.9/angular.js"></script>
    <script src="js/controllers.js"></script>
</head>
<body ng-controller="EntryController">
    <h1>Mook</h1>

    <h2>Skriv en melding</h2>

    <form name="entryForm">
        <p><label for="date">Dato</label>
            <input type="date" name="date" id="date" ng-model="entry.date"></p>
        <p><label for="text">Melding</label>
            <textarea name="text" id="text" ng-model="entry.text" cols="60" rows="8" placeholder="Skriv en melding"></textarea></p>
        <button ng-click="update(entry)">Lagre</button>
    </form>

    <article ng-repeat="entry in entries | orderBy: '-date'">
        <h2>{{entry.date}} {{entry.author}}</h2>
        {{entry.text}}
    </article>
</body>
</html>