<!doctype html>
<html lang="en" ng-app="mookApp">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Mook</title>

    <script type="text/javascript">
        if (document.cookie.indexOf("XSRF-TOKEN=") === -1 && document.referrer.indexOf("/login.html") === -1) {
        	console.log("No login found (cookie=" + document.cookie + ", referrer=" + document.referrer + ")");
            document.location = "login.html";
        }
    </script>

    <link rel="stylesheet" href="css/mook.css">
</head>
<body ng-controller="EntryController">
    <header>
        <h1>Mook</h1>
    </header>

    <main>

        <h2>Skriv en melding</h2>

        <form name="entryForm">
            <p><label for="date">Dato</label>
                <input type="date" name="date" id="date"
                       ng-model="entry.date" ng-disabled="isSending()"></p>
            <p><label for="text">Melding</label>
                <textarea name="text" id="text"
                          rows="8" placeholder="Skriv en melding"
                          ng-model="entry.text" ng-disabled="isSending()"></textarea></p>
            <button ng-click="update(entry)"
                    ng-disabled="isEmpty(entry) || isSending()"
                    ng-class="{loading: isSending()}">Lagre</button>
        </form>

        <article ng-repeat="entry in entries | orderBy: '-date'">
            <h2>{{entry.date}} {{entry.author}}</h2>
            {{entry.text}}
        </article>
    </main>
    
    <script src="lib/angular-1.2.9/angular.js"></script>
    <script src="js/controllers.js"></script>
    
</body>
</html>