body {
    font-family: "Trebuchet MS", Verdana, Geneva, Arial, Helvetica, sans-serif;
}


/* Form layout. */
.grid {
    display: table;
    border-spacing: 0 1em;
}
.grid > * {
    display: table-row;
}
.grid > * > * {
    display: table-cell;
}
label {
    padding-right: 1em;
}


input[type=submit], button {
    padding: 0.5em 2em;
    font-size: 120%;
}