body {
    font-family: "Trebuchet MS", Verdana, Geneva, Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
}

header {
    background-color: black;
    color: white;
    display: block; /* For you old farts. */
}

header > h1, main {
    margin: 0 auto;
    padding: 0.5rem;
    max-width: 50rem;
}

main {
    display: block;
}

.error {
    color: red;
}


/* Form layout. */
.grid {
    display: table;
    border-spacing: 0 1em;
}
.grid > * {
    display: table-row;
}
.grid > * > * {
    display: table-cell;
}
label {
    padding-right: 1em;
}

input[type=submit], button {
    padding: 0.5em 2em;
    font-size: 120%;
}

textarea {
    width: 100%;
}

/* Absolute position to prevent the text jumping around. */
button {
    position: relative;
}
button.loading::before {
    content: url("../img/ajax-loader.gif");
    position: absolute;
    left: 10px;
    top: 10px;
}


div.loading::before {
    content: url("../img/ajax-loader.gif");
    padding-right: 5px;
}

/* Entries */
article {
    background-color: #eee;
    border: 2px solid lightblue;
    border-radius: 5px;
    padding: 1em;
    margin-top: 2em;
}

article > h2 {
	margin-top: 0.2em;
}

.image {
    text-align: center;
}

.image > img {
    max-width: 500px;
}

.usertext, .caption {
	white-space: pre-wrap;
}

.caption {
    font-style: italic;
}