body {
    font-family: "Trebuchet MS", Verdana, Geneva, Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
}

header {
    background-color: black;
    color: white;
    display: block; /* For you old farts. */
}

header > h1, main {
    margin: 0 auto;
    padding: 0.5rem;
    max-width: 50rem;
}

main {
    display: block;
}

.error {
    color: red;
}


/* Form layout. */
.grid {
    display: table;
    border-spacing: 0 1em;
}
.grid > * {
    display: table-row;
}
.grid > * > * {
    display: table-cell;
}
label {
    padding-right: 1em;
}

input[type=submit], button {
    padding: 0.5em 2em;
    font-size: 120%;
}

textarea {
    width: 100%;
}

/* Absolute position to prevent the text jumping around. */
button {
    position: relative;
}
button.loading::before {
    content: url("../img/ajax-loader.gif");
    position: absolute;
    left: 10px;
    top: 10px;
}


div.loading::before {
    content: url("../img/ajax-loader.gif");
    padding-right: 5px;
}

.entry-buttons {
    margin-top: 1rem;
}

.entry-buttons > button { /* Affects first button only in current layout. */
    margin-right: 3rem;
}

/* Entries */
article {
    background-color: #eee;
    border: 2px solid lightblue;
    border-radius: 5px;
    padding: 1em;
    margin-top: 2em;
}

article > h2 {
	margin-top: 0.2em;
}

.author {
    color: #888;
    font-size: 60%;
    float: right;
    padding-top: 0.4rem;
}

.image {
    text-align: center;
}

.image > .wrapper {
    max-width: 90%;
}

.image > .wrapper > img {
    max-width: 100%;
}

img.upload {
    filter: grayscale(1);
}

.upload-progress-frame {
    position: absolute;
    bottom: 5%;
    left: calc(5% - 2px);
    width: 90%;
    height: 5%;
    border: 2px inset white;
    background-color: black;
}

.upload-progress-bar {
    background-color: white;
    height: 100%;
    width: 0;
}

.upload-text {
    text-align: center;

    animation-duration: 3s;
    animation-name: fadeinout;
    animation-iteration-count: infinite;
}

@keyframes fadeinout {
    0%   { opacity: 0; }
    50%  { opacity: 1; }
    100% { opacity: 0; }
}

.usertext, .caption {
	white-space: pre-wrap;
}

.caption {
    font-style: italic;
}

.image > .wrapper {
    display: inline-block;
    position: relative;
}

.image > .wrapper > .close {
    position: absolute;
    top: -5px;
    right: -5px;
}


/* Adjustment for typical mobiles. */
@media (max-width: 600px) {
    input[type=submit], button {
        padding: 0.5em;
    }

    .entry-buttons > button {
        margin-right: 1rem;
    }
}