<h2>Skriv en melding</h2>

<form name="entryForm">
    <p><label for="date">Dato</label>
        <input type="date" name="date" id="date"
               ng-model="entry.date" ng-disabled="isSending()"></p>
    <p><label for="text">Melding</label>
        <textarea name="text" id="text"
                  rows="8" placeholder="Skriv en melding"
                  ng-model="entry.text" ng-disabled="isSending()"></textarea></p>

    <div ng-repeat="upload in uploads">
        <mookupload upload="upload" on-complete="uploadComplete(upload, image)" on-failed="removeUpload(upload)"></mookupload>
    </div>

    <div ng-repeat="image in entry.images">
        <mookimg image="image" edit-mode="true" on-delete="deleteImage(image)"></mookimg>
    </div>

    <div class="entry-buttons">
        <button ng-click="update(entry)"
                ng-disabled="isEmpty() || isSending()"
                ng-class="{loading: isSending()}">Lagre</button>

        <label>
            <input type="file" accept="image/*" multiple="multiple" id="imageUpload" style="display: none">
            <button ng-click="addImage(entry)">Legg til bilde</button>
        </label>
    </div>
</form>

<div ng-if="isLoading()" class="loading" style="margin-top: 2em">Henter logg</div>

<article class="entry" ng-repeat="entry in entries">
    <h2>{{entry.date | friendlyDate}} <span class="author">Skrevet av {{entry.author}}</span></h2>
    <div class="usertext">{{entry.text}}</div>

    <div ng-repeat="image in entry.images">
        <p>
            <mookimg image="image"></mookimg>
        </p>
    </div>
</article>
