@(entries: List[Entry], entryForm: Form[Entry])(implicit lang: play.api.i18n.Lang)

@import helper._
@import org.joda.time.format.DateTimeFormat
@import org.joda.time.format.DateTimeFormatter

@main("Mook") {

    <h1>Mook</h1>

    <h2>Add a new entry</h2>

    @form(routes.Application.newEntry) {
        @inputDate(entryForm("date"))
        @textarea(entryForm("text"))

        <input type="submit" value="Create">
    }

    @entries.map { entry =>
        <article>
            <h2>@{var f = DateTimeFormat.longDate(); f.withLocale(lang.toLocale); f.print(entry.date)}</h2>
            @entry.text
        </article>
    }

}